body {
	font-family: Helvetica;
}


.into {
	padding: 1px;
}

.info {
	padding: 10px;
	display: grid;
	text-align: left;
	grid-template-columns: 1fr 1fr 1fr;

}

.info-text {
	padding: 10px;
	
}

.form {
	padding: 10px;
	width: 100%;
	border: 2px solid black;
}

input[type=text]{
	padding: 2px; 
	margin: 2px;
	width: 50%;

}