body {
	font-family: Helvetica;

}

.form {
	padding: 10px;
	width: 80%;
	border: 2px solid black;
	display: flex;
	flex-direction: column;
}

.hidden {
	display: none;
}

.reveal {
	display: block;
}

.text-info {
	opacity: 0;
	transition: opacity 1s ease-in-out;
}

.text-info-reveal {
	opacity: 1;
}

input[type=text]{
	padding: 2px; 
	margin: 2px;
	width: 50%;

}