body {
	font-family: Helvetica;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: #ffba54;
}

.container {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	padding: 1rem;
}

.form {
	padding: 10px;
	border: 2px solid black;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	color:white;
	background: rgba(0,0,0,0.5);
}

.hidden {
	display: none;
}

.reveal {
	display: block;
}

.text-info {
	opacity: 0;
	transition: opacity 1s ease-in-out;
}

.text-info-reveal {
	opacity: 1;
}

#landing-intro{
	background-color: #efedd6
}

#calculator-results{
	background-image: url("../images/food.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

#more-info{

}

input[type=text]{
	padding: 2px; 
	margin: 2px;
	width: 50%;
}